/CKAN_Testing
migration/metadata_output1.txt
migration/migration_log.txt
migration/num_files.txt
migration/migration_notes
migration/__pycache__/
/DE_API_Testing
/CKAN_Testing
/migration/__pycache__
/.idea
/gradio/__pycache__
/croissant-editor
/croissant
/croissant
/dcat
/docker
/gradio/__pycache__
migration/gradio_backup.py
migration/gradio_main.py
migration/output.parquet
migration/test.py
migration/DOI_Request_DataCite_Metadata_LeafImages.csv
croissant/croissant.py
migration/de_files.log
migration/de_files_metadata.log
migration/de_datasets_metadata.log
migration/de_datasets.log
migration/debug.log
migration/dcat.json
migration/ckan_datasets.log
