/CKAN_Testing
migration/metadata_output1.txt
migration/migration_log.txt
migration/num_files.txt
migration/migration_notes
migration/__pycache__/
/DE_API_Testing
/CKAN_Testing
/migration/__pycache__
/.idea
